/* ==========================================================================
   Base styles
   ========================================================================== */
:root {
    /* Layout */
    --layout-desktop: 1440px;
    --layout-mobile: 375px;

    /* Fonts */
    --base-font-family: Arial;
    --base-font-size: 18px;
    --base-font-weight-normal: 400;
    --base-font-weight-bold: 800;
    --base-line-height: 1.5;

    /* Color Theme Swatches in Hex */
    --primary-color: #F20519;
    --primary-light-color: #F23019;
    --secondary-color: #C65EF2;
    --secondary-light-color: #F088F2;
    --alert-color: #F2E205;
    --accent-color: #0AD2E7;
    --white-color: #F2F2F2;
    --dark-color: #280014;
    --light-color: #FDF7E9;

}

/* Typography */
h2 {
    text-transform: uppercase;
    margin-bottom: 1em;
}

h3 {
    margin-bottom: 1em;
}

/* Layout */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--base-font-family), Helvetica, sans-serif;
    font-size: var(--base-font-size);
    font-weight: var(--base-font-weight-normal);
    line-height: var(--base-line-height);

    color: var(--primary-color);
    background-color: var(--light-color);

    scroll-behavior: smooth;
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100%;
    overflow-y: hidden;
}

header,
main,
footer {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: var(--layout-desktop);
    min-width: var(--layout-mobile);
    margin: 0 auto;
    padding: 0 16px;
}

/* Header */
[aria-label="Header Section"] {
    border-top: 24px solid var(--primary-color);
}

.navigation-wrapper {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    top: 48px;
    gap: 16px;
    height: 48px;
    padding: 0 0 0 24px;
    border: 1px solid var(--primary-color);
    background-color: var(--light-color);
}

.navigation-wrapper a.logo,
.navigation-wrapper img {
    width: 32px;
    height: 32px;
}

.banner-wrapper {
    position: relative;
    margin-top: 100px;
}

/* Navigation */
#top-nav {
    overflow: hidden;
    background-color: transparent;
    display: flex;
}

#top-nav li {
    display: flex;
    align-items: center;
    border-left: 1px solid var(--primary-color);
}

#top-nav li:last-child {
    border-right: 1px solid var(--primary-color);
}

#top-nav li > a {
    position: relative;
    color: var(--primary-color);
    text-align: center;
    padding: 10px 8px;
    text-decoration: none;
}

.downloadLink a {
    color: var(--white-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-left: 1px solid var(--primary-color);
    background-color: var(--primary-color);
}

.downloadLink a:hover {
    background-color: var(--primary-light-color);
}

#top-nav li > a:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}

/* Footer */
[aria-label="Footer section"] {
    border-top: 1px solid var(--primary-color);
    border-bottom: 24px solid var(--primary-color);
}

.bottom-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}

.attribution {
    display: flex;
    align-items: center;
    gap: 4px;
}

.attribution a {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-left: 8px;
    color: var(--primary-color);
    text-decoration: none;
}

.attribution a:hover {
    color: var(--secondary-color);
}

/* Main page content style */

/* Banner */
header {
    border-bottom: 1px solid var(--primary-color);
}

.banner-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    align-items: center;
    margin: 100px 0 50px;
}

h1.site-header {
    text-align: right;
    font-weight: var(--base-font-weight-bold);
}

h1.site-header > span {
    font-size: 3em;
    line-height: 1em;
}

h1.site-header > span:last-of-type {
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
}

.banner-right > img {
    width: 220px;
    height: auto;
    border: 1px solid;
}

.banner-wrapper > p {
    font-size: 1em;
    font-weight: var(--base-font-weight-bold);
    text-align: right;
}

/* Objective */
#objective {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    flex-wrap: wrap;
    padding: 50px 0;
    border-bottom: 1px solid var(--primary-color);
}

#objective h2 {
    flex: 1;
}

#objective p {
    flex: 2;
}

#objective p > span {
    font-weight: var(--base-font-weight-bold);
}

/* Main content left */

.content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 50px 0;
    gap: 4em;
}

.content-wrapper > * {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.content-wrapper section {
    position: relative;
    width: 100%;
}

.content-wrapper section > *:first-child {
    width: 100%;
    border-bottom: 1px solid var(--primary-color);
}

/* Card style */
.card {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: max-content;
    height: fit-content;
}

.card > * {
    width: 100%;
}

.card > ul > li {
    font-size: 1rem;
    margin-bottom: 0.5em;
    color: var(--primary-color);
    display: flex;
    align-items: center;
}

.card > ul > li > a {
    margin-right: 0.2em;
    text-decoration: none;
    color: var(--primary-color);
}

/* ----------------------- */

/* Contacts section */
.img-container {
    overflow: hidden;
    width: 32px;
    height: 32px;
    padding: 4px;
    border: 1px solid var(--primary-color);
}

.img-container img {
    filter: drop-shadow(0 100px 0 var(--primary-color));
    transform: translateY(-100px);
}

.contacts-item {
    display: flex;
    align-items: center;
}

.contacts-item span {
    margin: 0 0.2em 0 1em;
}

.contacts-list li:hover a {
    color: var(--secondary-color);
    text-decoration: underline;
}

.card > ul > li:hover .img-container {
    border: 1px solid var(--secondary-color);
}

.card > ul > li:hover .img-container img {
    filter: drop-shadow(0 100px 0 var(--secondary-color))
}

/* Main content right  */

/* Code example section */
figure {
    border: 1px solid var(--primary-color);
}

figcaption {
    text-transform: uppercase;
    font-weight: var(--base-font-weight-bold);
    padding: 1em;
    border-bottom: 1px solid var(--primary-color);
}

pre {
    padding: 1em;
    transform: translate(-200px);
}

/* Experience section */
#experience p.subtitle {
    margin-bottom: 1em;
}

.profiles-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
}

.profiles-list li {
    padding: 0.5em;
    border: 1px solid var(--primary-color);
}

.profiles-list li a {
    margin-right: 0.2em;
}

ul > li.button:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}

li.button:hover a {
    color: var(--white-color);
}

/* Projects list section */
.projects-list {
    margin-top: 2em;
}

.projects-list-wrapper figure {
    width: 50%;
    height: auto;
}

.project-img-container {
    width: 100%;
    height: 150px;
    position: relative;
    object-fit: cover;
    overflow: hidden;
    border-bottom: 1px solid var(--primary-color);
}

.projects-list-wrapper {
    position: relative;
    display: flex;
    gap: 1em;
}

.projects-list-wrapper img {
    width: 100%;
    height: auto;
}

.projects-list figcaption {
    border-bottom: none;
}

.projects-list figcaption a {
    margin-right: 0.2em;
    text-decoration: none;
    color: var(--primary-color);
}

/* Education section */
.courses-card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 2em;
}

.university-degree {
    margin-bottom: 4em;
}

.university-degree h3 {
    max-width: 35ch;
}

/* Courses section */
.courses-card-wrapper h3 {
    text-transform: uppercase;
    margin-bottom: 0.2em;
}

.courses-card-wrapper h4 {
    margin-bottom: 0.2em;
}

.courses-card-wrapper a {
    margin-right: 0.2em;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.2em;
}

.courses-link:hover{
    color: var(--secondary-color);
}

.courses-link:hover a{
    color: var(--secondary-color);
    text-decoration: underline;
}

ul.skills-list {
    margin-top: 1em;
    list-style-position: inside;
    list-style-type: square;
}

ul.skills-list  span {
    padding-left: 0.5em;
    list-style-position: inside;
    list-style-type: square;
}

.project-link:hover {
    color: var(--secondary-color);
}

.project-link:hover a{
    color: var(--secondary-color);
    text-decoration: underline;
}

.projects-demo-list {
    margin-top: 2em;
}

/* Online learning section */
ul.online-learning-list {
    list-style-type: none;
}

.learning-list-item > a {
    font-weight: 700;
}

.learning-list-item > ul {
    list-style-type: square;
    list-style-position: inside;
}

.learning-list-item-sub {
    padding-left: 1em;
}

.learning-list-item > a:hover,
.learning-list-item-sub:hover a{
    color: var(--secondary-color);
    text-decoration: underline;
}

@media only screen and (max-width: 1400px) {
    #objective {
        flex-direction: column;
    }

    #objective p {
        flex: 1;
    }

    .content-wrapper {
        flex-wrap: wrap;
    }

    .projects-list-wrapper {
        flex-direction: column;
    }

    .project-img-container {
        height: 230px;
    }
}