/* ==========================================================================
   Base styles
   ========================================================================== */
:root {
    /* Layout */
    --layout-desktop: 1440px;
    --layout-mobile: 375px;

    /* Fonts */
    --base-font-family: Arial;
    --base-font-size: 18px;
    --base-font-weight-normal: 400;
    --base-font-weight-bold: 800;
    --base-line-height: 1.5;

    /* Color Theme Swatches in Hex */
    --primary-color: #F20519;
    --primary-light-color: #F23019;
    --secondary-color: #C65EF2;
    --secondary-light-color: #F088F2;
    --alert-color: #F2E205;
    --accent-color: #0AD2E7;
    --white-color: #F2F2F2;
    --dark-color: #280014;
    --light-color: #FDF7E9;

}

/* Layout */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--base-font-family), Helvetica, sans-serif;
    font-size: var(--base-font-size);
    font-weight: var(--base-font-weight-normal);
    line-height: var(--base-line-height);

    color: var(--primary-color);
    background-color: var(--light-color);

    scroll-behavior: smooth;
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100%;
    overflow-y: hidden;
}

header,
main,
footer {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: var(--layout-desktop);
    min-width: var(--layout-mobile);
    margin: 0 auto;
    padding: 0 16px;
}

/* Header */
[aria-label="Header Section"] {
    border-top: 24px solid var(--primary-color);
}

.navigation-wrapper {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    top: 48px;
    gap: 16px;
    height: 48px;
    padding: 0 0 0 24px;
    border: 1px solid var(--primary-color);
    background-color: var(--light-color);
}

.navigation-wrapper a.logo,
.navigation-wrapper img {
    width: 32px;
    height: 32px;
}

.banner-wrapper {
    position: relative;
    margin-top: 100px;
}

/* Navigation */
#top-nav {
    list-style-type: none;
    overflow: hidden;
    background-color: transparent;
    display: flex;
}

#top-nav li {
    display: flex;
    align-items: center;
    border-left: 1px solid var(--primary-color);
}

#top-nav li:last-child {
    border-right: 1px solid var(--primary-color);
}

#top-nav li > a {
    position: relative;
    color: var(--primary-color);
    text-align: center;
    padding: 10px 8px;
    text-decoration: none;
}

.downloadLink a {
    color: var(--white-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-left: 1px solid var(--primary-color);
    background-color: var(--primary-color);
}

.downloadLink a:hover {
    background-color: var(--primary-light-color);
}

#top-nav li > a:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}

/* Footer */
[aria-label="Footer section"] {
    border-top: 1px solid var(--primary-color);
    border-bottom: 24px solid var(--primary-color);
}

.bottom-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}

.attribution {
    display: flex;
    align-items: center;
    gap: 4px;
}

.attribution a {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-left: 8px;
    color: var(--primary-color);
    text-decoration: none;
}

.attribution a:hover {
    color: var(--secondary-color);
}

/* Main page content style */

/* Banner */
header {
    border-bottom: 1px solid var(--primary-color);
}

.banner-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    align-items: center;
    margin: 100px 0 50px;
}

h1.site-header {
    text-align: right;
    font-weight: var(--base-font-weight-bold);
}

h1.site-header > span {
    font-size: 3em;
    line-height: 1em;
}

h1.site-header > span:last-of-type {
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
}

.banner-right > img {
    width: 220px;
    height: auto;
    border: 1px solid;
}

.banner-wrapper > p {
    font-size: 1em;
    font-weight: var(--base-font-weight-bold);
    text-align: right;
}