/*-------------------------------------------------
    [Main Stylesheet]

    Project:    Front-end Developer CV Page
    Version:    1.0.0
    Challenge:  RS School
    Coded:      Ievgeniia Abdulina
    Date:       12-10-2022
-------------------------------------------------*/