/*-------------------------------------------------
    [Main Stylesheet]

    Project:    Front-end Developer CV Page
    Version:    1.0.0
    Challenge:  RS School
    Coded:      Ievgeniia Abdulina
    Date:       12-10-2022
-------------------------------------------------*/
/* === Import fonts === */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500;600;700&family=Mulish:wght@400;500;600;700;800;900&display=swap');

/* === Core Styles === */
/* # CSS variables */
:root {
    /* ## Colors */
    /* ### Primary */
    --primary-color: #482673;
    /* #### Text */
    --blackish: #202020;
    --dark-grey: #3F3F3F;
    /* ### Secondary */
    --secondary-color: #ed0b70;
    --medium-grey: #707070;
    --white: #FFFFFF;

    /* ## Typography */
    /* ### Body copy */
    --font-size-body: 16px;
    /* ### Font */
    --font-family-main: 'Mulish', sans-serif;
    --font-family-title: 'IBM Plex Mono', monospace;
}

/* Body element style */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 80vw;
    height: 100%;
    overflow-x: hidden;
    margin: 0 auto;
    scroll-behavior: smooth;
    font-size: var(--font-size-body);
    background-color: var(--white);
    font-family: var(--font-family-main);
    color: var(--blackish);
}

h3,
time,
pre {
    font-family: var(--font-family-title);
}

/* PERSONAL INFO SECTION STYLE */
header {
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

div.personal-info {
    display: flex;
    flex-direction: column;
    padding-right: 24px;
    padding-bottom: 28px;
    flex: 2;
    border-bottom: 2px solid var(--blackish);
    border-right: 2px solid var(--blackish);
}

.personal-info-profile {
    display: flex;
    align-items: center;
}

.personal-info-profile > figure {
    border: 2px solid var(--blackish);
    padding: 4px;
    width: 128px;
    height: 128px;
}

.personal-info-profile > div {
    padding-left: 24px;
}

.profile-title > h2 {
    padding-top: 12px;
    font-size: 26px;
    font-weight: 900;
    line-height: 32px;
}

h3 {
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    border: 2px solid var(--blackish);
}

.personal-info > p {
    padding-top: 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

/* CONTACT SECTION STYLE */
aside {
    padding-left: 24px;
    flex: 1;
    margin-bottom: 30px;
}

aside > ul {
    padding-top: 16px;
    list-style-type: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

aside > ul > li > address {
    display: inline-block;
}

/* MAIN SECTION STYLE */
main {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

main > div.left > section > h3 {
    width: 240px;
}

main > div.right {
    order: 2;
    flex: 1;
    padding-left: 24px;
}

main > div.left {
    order: 1;
    flex: 2;
    width: 60%;
    padding-right: 24px;
    border-right: 2px solid var(--blackish);
}

.container.left {
    margin-top: 24px;
}

.container.left > section {
    margin-bottom: 28px;
}

.container > section > h3 {
    margin-bottom: 16px;
}

/* COURSES SECTION STYLE */
.courses-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.courses-section > div {
    flex: 0 0 50%;
    padding: 0 8px;
    margin-bottom: 24px;
}

/* .courses-section > div > */
h4 {
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 4px;
}

/* .courses-section > div > */
time {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--medium-grey);
}

.courses-section > div > figure {
    width: 160px;
    height: 160px;
    padding: 4px;
    cursor: pointer;
}

.courses-section > div > figure > img {
    width: 100%;
    height: 100px;
    object-fit: contain;
}

.courses-section > div:nth-child(1) > figure {
    margin-top: 16px;
}

.courses-section > div:nth-child(2) > figure {
    margin-top: 58px;
}

.courses-section > div > figure > figcaption {
    padding: 4px;
    color: var(--medium-grey);
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

/* CODE EXAMPLE SECTION STYLE */
.code-example > p {
    margin-bottom: 24px;
}

/* .code-example > h4 {
    margin-bottom: 8px;
} */

pre {
    display: block;
    width: 100%;
    overflow: auto;
    background-color: var(--dark-grey);
    border-radius: 4px;
    white-space: pre;
    word-break: keep-all;
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-right: 18px;
}

/* LATEST PROJECTS SECTION STYLE */
.latest-projects-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.latest-projects-content > div {
    flex: 0 0 50%;
    margin-bottom: 24px;
 }

.latest-projects-content > div:nth-child(1) {
    padding-right: 8px;
}

.latest-projects-content > div:nth-child(2) {
    padding-left: 8px;
}

.latest-projects-content > div > a {
    cursor: pointer;
}

.latest-projects-content > div > a > figure {
    width: 100%;
    height: auto;
    border: 2px solid var(--blackish);
}

.latest-projects-content > div > a > figure > img {
    width: 100%;
    height: 160px;
    object-fit:contain;
}

.latest-projects-content > div > a > figure > figcaption {
    padding: 8px;
    color: var(--medium-grey);
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

/* .latest-projects > div >h4 {
    margin-bottom: 8px;
} */

.latest-projects > div > ul {
    list-style-type: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.latest-projects > div > ul > li > a {
    color: var(--secondary-color);
}

/* EDUCATION SECTION STYLE */
.education {
    margin-bottom: 30px;
}

.education > div {
    margin-bottom: 16px;
}

/* FOOTER SECTION STYLE */
footer {
    margin-bottom: 50px;
}